.contact{
    padding-left: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
    text-align: center;
}

.contact-container{
    margin: auto;
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
    justify-content: center;
}

html,
body,
.contact{
    min-height: 86vh;
}

.contact-text{
    text-decoration: none;
}

a.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    opacity: 0.8;
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
    height: auto;
    width: 250px;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    font-family: 'Rokkitt', serif;
    color: #001a33;
    -webkit-box-shadow: 10px 10px 10px -5px rgba(211,211,211,1);
    -moz-box-shadow: 10px 10px 10px -5px rgba(211,211,211,1);
    box-shadow: 10px 10px 10px -5px rgba(211,211,211,1);
    transition: 0.6s;
}

a.button:hover{
    background-color: #001a33;
    background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
    color: #f2f2f2;
    transition: 0.6s;
}

@media screen and (max-width: 950px){
    .contact{
        padding-left: 0;
    }
}

.contact-form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea{
    margin: 10px;
    background-color: transparent;
    border: none;
    font-family: 'Rokkitt', serif;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    border-bottom: 1px solid #000000;
    outline: none;
}

input[type=text],
input[type=email]{
    width: 44%;
}

@media screen and (max-width: 600px){
    input[type=text],
    input[type=email]{
        width: 92%;
    }
}

textarea{
    width: 92%;
    height: 100px;
    margin: 0 auto;
}

input[type=submit]{
    box-sizing: border-box;
    padding: 5px;
    width: 93%;
    margin: 5 auto;
    border: none;
    background: -webkit-linear-gradient(0deg, #060d13,#12273b);
    color: #ffffff;
    cursor: pointer;
}