.skills{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
}

.skills-container{
    max-width: 800px;
    margin: auto;
}

html,
body,
.skills,
.skills-container{
    min-height: 86vh;
}

.logo-container{
    display: inline-block;
}

.category{
    display: block;
    text-align: center;
}

.logos{
    height: 120px;
    width: auto;
    box-sizing: border-box;
    padding: 10px;
}

.logos:hover{
    animation-name: enlarge;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes enlarge {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

@media screen and (max-width: 950px){
    .skills, .header-text{
        padding-left: 0;
    }
    .logos{
        max-height: 90px;
    }
}