html, body {
  background-color: #000000;
}
.App {
  padding: 0;
}
.App-header {
  margin-top: 0;
  padding: 0;
  width: 100%;
}
.navbar-container{
  margin-top: 0;
  padding: 0;
}
.navbar{
  width: 100vw;
  height: 50px;
  color: #ffffff;
  position: fixed;
  margin-top: 0px;
  text-align: center;
  z-index: 1000;
  transition: 1s;
}
.scrolled{
  background-color: #11273b;
  border-bottom: 1px solid #ffffff;
  transition: 1s;
}
@media screen and (max-width: 700px) {
  .navbar{
    display: none;
  }
}
ul{
  margin: 0px;
  padding: 12px;
  list-style-type: none;
  overflow: auto;
}
li{
  box-sizing: border-box;
  list-style: none;
  display: inline;
  width: 20%;
  height: 50px;
  padding: 5px;
}
.nav-text{
  font-family: 'Major Mono Display', monospace;
  font-size: 24px;
  margin: auto;
  color: #ffffff;
  display: inline;
  vertical-align: top;
  z-index: 99;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.42);
}
@media screen and (max-width: 1150px) {
  .nav-text{
    font-size: 20px;
  }
}
@media screen and (max-width: 950px) {
  .nav-text{
    font-size: 17px;
  }
}
@media screen and (max-width: 750px) {
  .nav-text{
    font-size: 14px;
  }
}
.material-icons{
  color: #ffffff;
}
.click-scroll{
  cursor: pointer;
}
.page-header{
  display: inline-block;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 100%;
  background-color: #12273b;
  border-bottom: 2px solid #d3d3d3;
  margin-top: 0;
}

@media screen and (min-width: 700px) {
  .page-header{
    display: none;
  }
}

.header-text{
  font-family: 'Major Mono Display', monospace;
  padding-left: 120px;
  color: #d3d3d3;
}

.scrollTop{
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  background-color: #11273b;
  border: 1px solid #ffffff;
  border-radius: 5%;
  opacity: 0.8;
  transition: 0.4s;
  box-shadow: 3px 3px 8px #000000;
  display: none;
}
#small-icon{
  font-size: 24px;
}
.scrollDown{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  cursor: pointer;
  background-color: #11273b;
  border: 1px solid #ffffff;
  border-radius: 5%;
  opacity: 0.8;
  box-shadow: 3px 3px 8px #000000;
}
.scroll-text{
  margin: 0px;
  color: #ffffff;
}